{{!< default}}

{{#post}}
    <article class="gh-article {{post_class}}">

        <header class="gh-header gh-canvas">
            <h1 class="gh-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-excerpt about">{{custom_excerpt}}</p>
            {{/if}}

            {{#if feature_image}}
                <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}"/>
            {{/if}}
        </header>

        <div class="gh-content gh-canvas">
            <div class="divider about"></div>
            {{content}}
            <div class="divider about"></div>
            <div class="w-layout-grid main-paragraph-wrap">
                <p id="about-left" class="paragraph-light">
                    Terra10 is een start-up onder de vlag van Rubix.
                    Deze opzet maakt Terra10 heel wendbaar,
                    zodat we optimaal kunnen focussen op cloud native applicatie bouw.
                    Echter, 'onder de vlag van Rubix' brengt nog meer voordelen met zich mee.
                    Voor Terra10 betekent het dat er op veel gebieden wordt meegelift op de Rubix organisatie.
                    Voor onze klanten betekent het, dat er ook makkelijk passende oplossingen kunnen worden gerealiseerd
                    waaraan ook Rubix of een van de andere start-ups bijdragen!
                </p>
                <p id="about-right" class="paragraph-light">De Terra 10 collega's vinden dat ze bij een leuk
                    team horen. Ze delen allemaal dezelfde passie voor cloud technologie. Ze volgen de laatste
                    technische
                    ontwikkelingen op de voet en delen hun kennis: binnen het team en natuurlijk ook met klanten. Ze
                    vinden dat
                    zo leuk, dat ze er zelfs wat eigen tijd in investeren. De Terra 10 klanten werken graag met onze
                    consultants
                    omdat ze net dat stapje extra zetten om resulaten te boeken. No nonsense. En natuurlijk weten de
                    Terra 10
                    collega's ook dat er nog meer is dan alleen werk, dus is er voldoende ruimte voor fun.
                </p>
            </div>
        </div>
    </article>
    {{> "meetup"}}
{{/post}}
